<div class="wrapper">
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    <button type="submit" (click)="logout()">Logout</button>
    <div class="img">
        <img src="">
        <h4>Author Name: {{authorName.author}}</h4>
        <h5>Content : {{authorName.content}}</h5>
    </div>
    <router-outlet />
</div>