<p>child works!</p>
<mat-tab-group animationDuration="2000ms">
    <mat-tab label="First">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto ducimus ipsa laboriosam impedit dicta unde, repellat at debitis ipsam fuga doloremque blanditiis culpa molestias quasi laudantium illum voluptatum praesentium. Quis?
    </mat-tab>
    <mat-tab label="Second">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum eius natus in deleniti inventore, recusandae reiciendis quos unde impedit et, magni ea temporibus blanditiis suscipit provident vel ipsa nostrum molestiae!
    </mat-tab>
    <mat-tab label="Third">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia officiis illum praesentium eaque, odit atque laborum enim fugiat necessitatibus excepturi amet ab numquam? Quo ullam magnam inventore deserunt commodi ex!
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae odit porro doloremque consequatur quibusdam ea sit nihil tempora excepturi, culpa est eveniet voluptatum fugit eos inventore quasi earum esse beatae!
    </mat-tab>
  </mat-tab-group>

  <div class="chart">
    <canvas id="myChart" width="700" height="400"></canvas>
  </div>